.data {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  &__item {
    background-color: #e5e5e5e5;
    width: 10rem;
    height: 6.7rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: all 1s;

    &:hover {
      cursor: pointer;
      background-color: #eceaeae5;
      transform: scale(1.05);
    }

    &--1 {
      animation: moveInLeft 1s ease-out;
      animation-delay: 0.1s;
      animation-fill-mode: backwards;
    }

    &--3 {
      animation: moveInRight 1s ease-out;
      animation-delay: 0.1s;
      animation-fill-mode: backwards;
    }

    &--2 {
      animation: moveInUp 1s ease-out;
      animation-delay: 0.1s;
      animation-fill-mode: backwards;
    }
  }

  &__number {
    font-size: 1.8rem;
    color: #4e5150;
  }

  &__description {
    font-size: 1.4rem;
    color: #bdbdbd;
  }
}
